footer{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: calc(var(--space_0) * 8);
  padding: calc(var(--space_0) * 4) calc(var(--space_0) * 8);
  width: 100%;

  .credits-cr,
  .nav-list {
    display: flex;
    flex-direction: row;
    gap: calc(var(--space_0) * 8);
  }

  p,
  .link-internal {
    color: $blue;
    font-size: var(--fs_s);
    line-height: var(--fs_s);
  }
}

@media all and (orientation: portrait) and (max-width: #{$break_s}) {
  footer {
    display: flex;
    flex-flow: row wrap;
    gap: calc(var(--space_0) * 3);
    padding: var(--space_0) calc(var(--space_0) * 3) calc(var(--space_0) * 3) calc(var(--space_0) * 3);

    .credits-cr {
      order: 1;
      flex-wrap: wrap;
      justify-content: center;
      gap: calc(var(--space_0) * 3);
    }
    .nav-internal {
      order: 0;
      width: 100%;
    }
    .nav-list {
      flex-wrap: wrap;
      justify-content: space-between;
      gap: var(--space_0);
    }
  }
}
