@mixin text-small{
  font-size: var(--fs_s);
  line-height: calc(var(--fs_s) * 1.2);
  letter-spacing: 0.05em;
  color: $grey_1;
  hyphens: auto;
}
@mixin text-medium{
  font-size: var(--fs_m);
  line-height: var(--fs_m);
  letter-spacing: 0.05em;
}
@mixin text-large {
  font-family: $sans_bold;
  font-size: calc(var(--fs_l) * 0.925);
  line-height: calc(var(--fs_l) * 0.925);
}
@mixin textarea-small{
  @include text-small;
  a {
    font-size: inherit;
    line-height: inherit;
    font-weight: inherit;
    color: $blue;
    hyphens: auto;
    html.no-touchevents &:hover {
      text-decoration: underline;
    }
  }
}


@mixin slide-up {
  transform: translate3d(0,calc(var(--space_0)*16),0);
  opacity: 0;
  transition: opacity 0.15s ease-in-out 0.15s, transform 0.6s ease-out;
  &.is-in-view {
    transform: translate3d(0,0,0);
    opacity: 1;
  }
}

@mixin slide-down {
  transition: transform 0.3s ease-out, opacity 0.15s ease-in-out;
  opacity: 0;
  transform: scale(0.75) translate3d(0, calc(var(--space_0)*-8), 0);
  &.is-in-view {
    opacity: 1;
    transform: scale(1) translate3d(0, 0, 0);
  }
}