body>div[data-role="student"][data-template="site"] .k-section-name-pages,
body>div[data-role="alumni"][data-template="site"] .k-section-name-pages,
body>div[data-role="student"][data-template="site"] .k-section-name-configpages,
body>div[data-role="alumni"][data-template="site"] .k-section-name-configpages,
body>div[data-role="student"][data-template="post"] .k-tab-button[title="Meta"],
body>div[data-role="alumni"][data-template="post"] .k-tab-button[title="Meta"],
body>div[data-role="student"][data-template="post"] .k-field-name-author_id,
body>div[data-role="alumni"][data-template="post"] .k-field-name-author_id,
body>div[data-role="student"][data-template="post"] .k-field-name-author_name,
body>div[data-role="alumni"][data-template="post"] .k-field-name-author_name {
  display: none !important;
  pointer-events: none !important;
}

body>div[data-role="student"][data-template="post"] .k-page-view-status,
body>div[data-role="alumni"][data-template="post"] .k-page-view-status {
  pointer-events: none !important;
}

body>div[data-role="student"][data-template="post"] .k-field-name-status,
body>div[data-role="alumni"][data-template="post"] .k-field-name-status{
  pointer-events: none !important;
}
body>div[data-role="student"][data-template="post"] .k-field-name-status:before,
body>div[data-role="alumni"][data-template="post"] .k-field-name-status:before {
  content: 'Sorry, you are not allowed change anything here.'
}
body>div[data-role="student"][data-template="post"] .k-field-name-status *,
body>div[data-role="alumni"][data-template="post"] .k-field-name-status * {
  display: none !important;
}

.embed-preview{
  display: flex;
  border-radius: var(--input-rounded);
}
.embed-preview>*{
  height: 100% !important;
}


.k-block-type-gallery ul {
  grid-template-columns: repeat(auto-fit, minmax(3rem, 1fr));
  max-height: 50vh;
  overflow-y: scroll;
}
/*.k-block-type-gallery ul {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 1px;
}
.k-block-type-gallery ul li{
  display: flex;
  width: 100%;
}
.k-block-type-gallery ul li figure {
  width: 100%;
}*/

/*.k-block-type-gallery li:not(:first-child):not(:nth-child(2)):not(:nth-child(3)) {
  display: none;
}
.k-block-type-gallery li:nth-child(2) {
  transform: scale(0.9) translate3d(0,-10%,0);
}
.k-block-type-gallery li:nth-child(3) {
  transform: scale(0.8);
}*/

/*.k-block-type-gallery li:not(:first-child) figure{
  position: absolute;
  width: 100%;
}*/