*{
  box-sizing: border-box;
  font-size: 1rem;
  line-height: 1.125rem;
}

html.touchevents * {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

html{
  font-feature-settings: "kern" 1, "lnum" 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  -webkit-touch-callout: none;
  -webkit-text-size-adjust: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent;

	overflow-x: clip;
  overflow-y: scroll;
  font-family: $sans_regular;
}

body{
  display: flex; // fixes layout-shifts
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 100%;
  max-width: 100vw;
  overflow-x: clip;
  background-color: $grey_0;
  html.no-touchevents &{
    &.is-fixed{
      max-width: calc(100vw - var(--sb_w, 15px));
      &::-webkit-scrollbar {
        display: none;
      }
      scrollbar-width: none;
    }
  }
}


main{
	display: flex;
	flex-direction: column;
  position: relative;
	width: 100%;
  height: 100%;
  min-height: calc(var(--vp_h) + 1px);
  opacity: 0;
  
  padding: 1rem 0 7.5rem 0; // header-height!!
  
  transition: opacity 0.15s ease-in-out;
  .page-loaded &{
    opacity: 1;
  }
}

section{
  display: flex;
  flex-direction: column;
  width: 100%;
}


button{
	cursor: pointer;
	border: none;
	font: inherit;
}

ul, ol{
	display: flex;
	flex-direction: column;
	padding: 0;
	margin: 0;
	list-style: none;
}

a{
	color: $black;
	cursor: pointer;
	text-decoration: none;
  hyphens: none;
  white-space: nowrap;
}

p > a {
  white-space: break-spaces;
}

input::-webkit-search-cancel-button{
  display: none;
}

iframe{
  border: none;
}

img,
video,
figure{
	touch-action: manipulation;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

figure{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  
  height: 100%;
  margin: 0;
  overflow: clip;
  background-color: $grey_1;
  picture{
    // inherits styles from figure
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
  }
  img{
    // position: absolute not needed when aspect-ratio is used, but aspect-ratio is not support by older safaris
    position: absolute; 
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    width: 100%;
    min-height: 100%;
    height: 100%;
    transform: translate3d(0,0,0);
    z-index: 2;
    object-fit: cover;
  }
  figcaption{
    position: absolute;
    bottom: 0.5rem;
    left: 0.5rem;
    margin-right: 0.5rem;
    z-index: 3;
    max-width: 100%;
    background-color: $grey_0;
    border-radius: 0.375em;
    padding: 0.375em;
    font-size: 0.875rem;
    letter-spacing: 0.0125em;
  }
  &:not(.svg-wr)>svg { //loading-spinner
    position: absolute;
    width: calc(var(--space_0) * 6);
    height: calc(var(--space_0) * 6);
    bottom: calc(50% - var(--space_0) * 3);
    z-index: 1;
  }
}

img{
  visibility: hidden; // dev
  transition: opacity 0.15s ease-in-out;
  opacity: 0;
  .page-loaded &{
    visibility: visible;
  }
  pointer-events: none;
}

img.lazyloaded{
  opacity: 1;
}
.svg-wr{
  display: flex;
  width: auto;
  height: 100%;
  transition: opacity 0.15s ease-in-out;
  svg{
    display: block;
    width: auto;
    height: 100%;
  }
}
.image-link{
  //position: relative;
  position: absolute;
  top: 0;
  right: 0;
  padding: 1rem;
  z-index: 3;
}
.image-link-title{
  //top: 1rem;
  //right: 1rem;
  display: flex;
  @include button('l_0');
}
.embed{
  position: relative;
  iframe{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
pre{
  width: 100%;
  overflow-x: scroll;
  padding: 1em;
}


/* dev
.template-posts{
  ul{
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 1rem;
    padding-right: 1rem;
  }
}*/

